AI_Video_Generator.json
{
  "name": "AI Video Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        40,
        60
      ],
      "id": "c065ad4e-a985-4c1c-b041-e1f97d4d876c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-HKZPSfn6DoY0qsYxMuS4Lvc9UBSNmLwcr-gEsQ5UZE",
          "mode": "list",
          "cachedResultName": "veo3<>n8n_automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-HKZPSfn6DoY0qsYxMuS4Lvc9UBSNmLwcr-gEsQ5UZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-HKZPSfn6DoY0qsYxMuS4Lvc9UBSNmLwcr-gEsQ5UZE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "==ROW()-1",
            "idea": "={{ $json.output[0].Idea }}",
            "caption": "={{ $json.output[0].Caption }}",
            "environment_prompt": "={{ $json.output[0].Environment }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        60
      ],
      "id": "ef1bc180-81a3-4fb6-b904-55af4e40079b",
      "name": "Log the Idea",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sx97FGz1LpVkvXwG",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "In the opening, on the left stands Batman, on the right an animal. A plus sign glows between them. They visually fuse together into a powerful magical creature(superhero + animal) and begin slowly walking forward with an attitude. Funky aesthetic synth music plays in the background all the time. The background must be according to the creature.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI designed to generate 1 highly viral, surreal short-form video idea. Every time you respond, you MUST randomize BOTH the superhero description and the mystical or mythical animal — they must be different on every run.\n\nRULES:\n\n– The “Idea” must describe the opening scene where a random superhero stands on the left, a random mythical animal stands on the right, a glowing plus sign appears, they visually fuse into a magical superhero-animal creature, and then slowly walk forward with attitude while funky aesthetic synth music plays in the background. The background must match the creature (e.g., desert, ice cave, volcano).\n– Caption must be short, punchy, contain one emoji, and include exactly 12 lowercase hashtags in this format:\n   → 4 theme/topic-related\n   → 4 most popular universal hashtags\n   → 4 currently trending hashtags\n– Set Status to \"for production\".\n– Environment must be under 20 words and clearly describe the setting where the fused creature is walking forward.\n\nOUTPUT FORMAT (must be returned as a single-line JSON array):\n[\n {\n   \"Caption\":\"Short viral caption with emoji #4_topic #4_popular #4_trending\",\n   \"Idea\":\"Detailed idea describing the fusion scene\",\n   \"Environment\":\"Brief vivid setting under 20 words\",\n   \"Status\":\"for production\"\n }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        200,
        60
      ],
      "id": "95fd45eb-6a78-4cf3-a4ad-ba9ced9759c0",
      "name": "Ideas AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me a Veo3 prompt for this idea:\n{{ $json.idea }}\n\nThis is the environment:\n{{ $json.environment_prompt }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=SYSTEM PROMPT FOR GOOGLE VEO3 PROMPT AGENT\n\nYou are an AI agent that writes cinematic scene prompts for Google VEO3. Each prompt must generate ONE hyper-realistic 8-second vertical selfie-style clip. Five clips will later be merged into a single video.\n\nREQUIRED STRUCTURE:\n[One cinematic paragraph describing the 8-second clip in 750–1500 characters]\nMain character: [describe the fused superhero-mythical-animal creature]\nThey move: [describe a slow, confident physical action as they walk forward]\nTime of Day: [day / night / dusk / etc.]\nLens: [describe lens]\nFilm Stock: [describe look, e.g. grainy 35mm, VHS, etc.]\nAudio: [ambient sounds + funky aesthetic synth music]\nBackground: [brief description of what is behind them based on creature]\n\nRULES:\n– Do NOT use any copyrighted superhero names (describe visually, e.g., “red-gold armored hero”).\n– Do NOT include spoken dialogue or text.\n– Only one fusion character.\n– Must be selfie-style (as if filmed by the fusion creature itself).\n– Must use ALL of the 5 technical tags EXACTLY in this order: Time of Day, Lens, Film Stock, Audio, Background.\n– Single paragraph only. No headings, no line breaks, no formatting characters.\n– Must look real, cinematic, and documentary-style — grounded in vivid physical detail.\n– The scene should show the glowing “+” fusion already completed and the fused creature slowly walking forward with attitude.\n– The background environment must visually match the fused creature (e.g. lava field for fire creature, icy cave for frost beast).\n– Always write as if this is clip 1 of 5.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        20,
        360
      ],
      "id": "a42a7bd5-068b-4b1a-8b6c-da7fb68c1645",
      "name": "Prompts AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Status\": \"for production\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        680,
        380
      ],
      "id": "c7317030-3159-41c4-8dbb-2b7df3c09b3b",
      "name": "Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "vernal-catfish-468012-k6"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.0-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.A0AS3H6Nyzm4-3ATyVKgOL-MmKxdj12jxOAbUkFlm4N-tle6J65gxutfUmrDNniK9p8bStjkAOen_TwsCSRpO1bu3yeyyu-5bHqdN1sTU6NJDWsq2SPR4VeTEE8Oi8eQwbWRzR8IJ7rq3IGYa7A_bDD2M4SzPWPZBcRJQaSYYcf5I_KUaE6b70G5EwZ9Kqi-jMXTr3HLQ2kDwRRex2piNEQsCe-2GETeABXQ0GcEcw_Zi7aNDPxcYo-yf4JxJVMUDN7t8AdKS0OQXGPI1DjJQNr3rb5mnZRmnkNCGBM3X4vFwBsb2pf-aQDrLQS7i8BixEt9T-2357y1yXG0DxwBNU_scdoE5AAiwtCa61D5caCgYKAZYSARMSFQHGX2MiVBzF55W_gNNh8EIq0JBjAg0366"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            }
          ]
        },
        "options": {}
      },
      "id": "7b3a3edf-68e9-4bc1-90dd-7a1a4eaa4dde",
      "name": "Setting",
      "type": "n8n-nodes-base.set",
      "position": [
        340,
        360
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "dd0c6846-c460-4ac2-9ab1-516fb323a77c",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        680,
        660
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').item.json.API_ENDPOINT }}/v1/projects/{{ $('Setting').item.json.PROJECT_ID }}/locations/{{ $('Setting').item.json.LOCATION }}/publishers/google/models/{{ $('Setting').item.json.MODEL_VERSION }}:fetchPredictOperation\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Setting').item.json.ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{$node['Vertex AI-VEO'].json['name']}}\"\n}\n\n",
        "options": {}
      },
      "id": "db55aa56-2198-4293-8798-89a9a4456779",
      "name": "Vertex AI-fetch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        660
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "bb17a19e-3215-4b6a-a18a-c8100f08e92a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        260,
        660
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "name": "={{ $('Ideas AI Agent').item.json.output[0].Idea.replace(/\\s+/g, '_') + '_' + $now.toMillis() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list"
        },
        "options": {}
      },
      "id": "64b82746-bef1-4f51-a46d-70468dec3ff6",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        900,
        660
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "udteD3dlULuqfYFz",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-HKZPSfn6DoY0qsYxMuS4Lvc9UBSNmLwcr-gEsQ5UZE",
          "mode": "list",
          "cachedResultName": "veo3<>n8n_automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-HKZPSfn6DoY0qsYxMuS4Lvc9UBSNmLwcr-gEsQ5UZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-HKZPSfn6DoY0qsYxMuS4Lvc9UBSNmLwcr-gEsQ5UZE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idea": "={{ $('Log the Idea').item.json.idea }}",
            "production": "done",
            "final_output": "={{ $('Upload file').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "idea"
          ],
          "schema": [
            {
              "id": "idea",
              "displayName": "idea",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        660
      ],
      "id": "97012e48-83c7-4c95-b994-af05a6ac7c33",
      "name": "Log Final Video in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sx97FGz1LpVkvXwG",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.API_ENDPOINT }}/v1/projects/{{ $json.PROJECT_ID }}/locations/{{ $json.LOCATION }}/publishers/google/models/{{ $json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"endpoint\": \"projects/n8n-project-440404/locations/us-central1/publishers/google/models/veo-3.0-generate-001\",\n  \"instances\": [\n    {\n      \"prompt\": {{ JSON.stringify($json.TEXT_PROMPT) }}\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"16:9\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": \"8\",\n    \"personGeneration\": \"allow_all\",\n    \"addWatermark\": true,\n    \"includeRaiReason\": true,\n    \"generateAudio\": true\n  }\n}\n",
        "options": {}
      },
      "id": "cd1c1ac3-c026-41d7-9f9a-3307601c875f",
      "name": "Vertex AI-VEO",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        40,
        660
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Part 1: Idea Generation",
        "height": 240,
        "width": 1300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "bcd1cace-000b-4d4c-bde9-3b3ed652ab3d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Part 2: Prompt Generation\n",
        "height": 240,
        "width": 1320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        300
      ],
      "typeVersion": 1,
      "id": "93328cdf-71cf-481c-8361-9e680769ac9e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Part 3: Video Generation\n",
        "height": 240,
        "width": 1320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        600
      ],
      "typeVersion": 1,
      "id": "226c57d8-eec9-47f6-82f8-939185922cfe",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        520,
        380
      ],
      "id": "84a42801-2e6b-4e71-8786-3312b63d68a2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0wyVdr1AydbEjuMu",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        820,
        380
      ],
      "id": "4661d1a6-5849-4639-8785-d65a56878941",
      "name": "Think"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log the Idea": {
      "main": [
        [
          {
            "node": "Prompts AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ideas AI Agent": {
      "main": [
        [
          {
            "node": "Log the Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts AI Agent": {
      "main": [
        [
          {
            "node": "Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Setting": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Log Final Video in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompts AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Prompts AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ideas AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f836a541-11c6-40fb-b94c-c45e010d4327",
  "meta": {
    "instanceId": "87eb8715ed8cd51d691f6908074ff2e2057b0daf5c57161d25fabd354c42af25"
  },
  "id": "OJUSaAKs5dnpGooP",
  "tags": []
}